*{
    background-color: black;
}
.inputbar{
    background-color: aliceblue;
    width: 600px;
    height: 40px;
    text-align: center;
    font-size: 23px;
    margin-top: 200px;
    border-radius: 6px;
    border: 0px;
    text-decoration: none;
    font-weight: 0;
    border-style: none;

}
button{
    width: 130px;
    height: 43px;
    background-color: greenyellow;
    border-radius: 6px;
    font-size: 20px;
    cursor: pointer;
    text-decoration: none;
    font-weight: 0;
    border-style: none;
    border: 0px;
}
.linkaddress{
    color:grey;
    margin-left: -20px;
}

