.sign{
    width:auto;
    height: auto;
    max-width: 600px;
    background-color: white;
    margin-top: 25px;
    border-radius: 50px;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    box-shadow: 1px 5px 5px 2px grey;

}
#hideemail{
    color:red;
    display: none;
}
#hidepassword{
    color:red;
    display: none;
}
#hideaccount{
    color:red;
    display: none;
}
.but{
    margin-top: 15px;
    margin-bottom: 10px;
    outline: 0;
    text-decoration: none;
    border-radius: 10px;
    text-decoration: none;
}
.but:hover{
    background-color: rgb(155, 236, 34);
    outline: 0;
}
.but:active{
    border:none;
    outline: 0;
    background-color: rgb(129, 207, 12);
}
.but::after{
    outline: 0;
    border:none;
}
.top{
    margin-top: 100px;
}
.input{
    width: 400px;
    align-items: center;
    height: 50px;
    border: none;
    border:0;
    padding-top: 10px;
    margin-top: 10px;
    margin-bottom: 15px;
    text-align: center;
    border-bottom: 2px solid black;
    outline: none;
    font-size: 20px;
}
#hide{
    display:none;
    color: red;
}
#hideerr{
    display:none;
    color: red;
}
#emailveri{
    display: none;
    cursor: pointer;
    color:blue;
}
#hideerr{
    display:none;
    color: red;
}

.s{
    margin-top: -5px;
    margin-bottom: -10px;
    font-size: 14px;
    color:red;
}

@media screen and (max-width: 700px) {
    .sign{
        width: 320px;
    }
    .input{
        width: 250px;
    }
    h5{
        margin-bottom: 1px;
    }
    .input{
        margin-bottom: 10px;
        margin-top: 4px;
    }
    .but{
        margin-top: 25px;
    }
    .skip{
        margin-top: 1px;
    }
    .sign{
        margin-top: 1px;
    }
    .top{
        margin-top: 80px;
    }
  }